body {
  font-family: 'Montserrat';
  color: #2F2F2F;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Josefin Sans';
  font-size: 18px;
}

a {
  color: #F9F9F9;
}

.navbar {
  background: #7AC1AD;
}

.my-link {
  padding-left: 15px;
}

.form_wrapper {
  margin-top: 150px;
  text-align: center;
}

.my_form {
  font-family: sans-serif;
  width: 300px;
}

.product {
  /*background: #F9F9F9;*/
  color: #2F2F2F;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.btn-default {
  background: #7AC1AD;
}

/******** User Page ********/

.weather-wrapper {
  margin-top: 75px;
  padding-top: 50px;
  text-align: center;
  border: 1px solid #CED4DA;
}

.weather_today {
  font-size: 3em;
}

.summary {
  font-size: 28px;
}

.max_min {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #CED4DA;
  padding-bottom: 20px;
}

.display_img {
  width: 300px;
  margin-bottom: 25px;
}

.weather-props, .prop-info {
  text-align: center;
  font-size: 16px;
  padding: 0;
}

.weather-props {
  padding-top: 10px;
}

.wind-prop {
  border-right: 1px solid #CED4DA;
}

.my-container {
  background: #FFFFFF;
}
